<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Services Manager"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ServicesManager"
        tools:targetApi="31">
        <activity
            android:name="ui_Activity.ControlUserAccountsActivity"
            android:exported="false"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.OrderDetailActivity"
            android:exported="false"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.ProfileChangeActivity"
            android:exported="true"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.MenuActivity"
            android:exported="true"
            android:label="Services Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.AddOrderActivity"
            android:exported="false"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.OrderManagementActivity"
            android:exported="false"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui_Activity.PasswordChangeActivity"
            android:exported="false"
            android:label="Services Manager"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.myapp.NEW_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>